h1 {
  color:rgb(52,192,36);
  background-color:rgb(10,10,10);
  box-shadow: 3px 3px 3px 3px rgb(150,150,150);
}
h1{
  color:rgb(180,67,58);
  transition-property: color;
  transition-duration: 2s;
  transition-delay: 1s;
}
Header{
  font-size:105%;
  background-color:rgb(179,174,174);
  border-style: solid;
  border-width: 3px;
  box-shadow: 3px 3px 3px 3px rgb(179,174,174);
  font-weight: bold;
  text-emphasis-color: rgb(52,192,36);
  font-family: 'Roboto Mono', monospace;

}
Section{
  background-color:rgb(176,224,230);
  padding-bottom:100px;
  box-shadow: 5px 5px 5px 5px rgb(10,10,10);
  font-family: 'Fira Sans', sans-serif;
}
Table,
td {
  font-weight:bold;
  border-style: groove;
  border-width: 3px;
  border-color: rgb(25,60,25);
  color:rgb(90,90,90);
  margin-left:25px;
  background-color: rgb(270,270,270);
  box-shadow: 1px 1px 1px 1px rgb(10,10,10)
}
ol li:nth-child(odd) {
  color:rgb(0,0,240);
}
ol li:nth-child(even) {
  color:rgb(0,153,76);
}
.highlight {
  color:rgb(90,90,90)
}
.table-format{
  table-layout: auto;
  width: 25%;
  border-style: double;
  border-width: 8px;
  border-color: rgb(179,174,174);
  padding-right: 10%;
  box-shadow: 5px 5px 5px 5px rgb(150,150,150)
}
.go-huskies{
  background-color:rgb(125,31,148);
  padding-bottom:2px;
  padding-top:2px;
  padding-left: 25%;
  box-shadow: 5px 5px 5px 5px rgb(10,10,10);
}
.husky {
  color:gold;
  font-style:oblique;
  font-weight:bold;
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 1s;
}
.narrative-color{
  color:rgb(35,35,35)
}
.table-text-color{
  color:rgb(75,0,130)
}
.picture-page{
  background-color: rgb(84,132,129);
  padding-bottom: 5px;
}
.box1 {
  height: 60px;
  width:200px;
  border: 3px solid rgb(179,174,174);
  background: rgb(106,151,185);
}

.container1 {
  height: 80px;
  background-color:rgb(106,151,185);
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box {
  height: 150px;
  width:150px;
  border: 3px solid rgb(179,174,174);
  background: rgb(106,151,185);
}

.container{
  height: 200px;
  background-color:rgb(35,35,35);
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.rotateimg90 {
  transform: rotate(90deg);
  padding-bottom: 50px;
}
footer{
  background-color:rgb(179,174,174);
  border-style:dashed;
  border-width: 3px;
  font-size: 75%;
  margin-top: 25px;
  box-shadow: 5px 5px 5px 5px rgb(10,10,10);
  font-style:oblique;
  font-family: 'Roboto Mono', monospace;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin:1rem;
}

input{
  border-radius: 15px;
}

fieldset{
  border:none;
}

fieldset input{
  display: inline;
}

.checkbox label {

  display: block;

  position: relative;

  padding-left: 35px;

  margin-top: 12px;

  cursor: pointer;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;

}

input[type=text]:focus{
  background-color: green;
  outline: none;
}

input[type=email]:focus{
  background-color: orange;
  outline: none;
}

input[type=date]:focus{
  background-color: red;
  outline: none;
}

input[type=submit]{
  width:25%;
  background-color: rgb(179,174,174);

}
